:root {
  //colors--------------------
  --white: #ffffff;
  --green: #c5f82a;
  --eclipse: #3f3f3f;
  --nero: #1f1f1f;
  --nero-900: #141414;

  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;
  --medium-2: 600;
  --bold: 700;
  --extra-bold: 800;

  //  //font size-------------------
  --size-xxs: 8px;
  --size-xs: 10px;
  --size-xs-sm: 11px;
  --size-sm: 12px;
  --size-xm: 14px;
  --size-md: 16px;
  --size-xmd: 18px;
  --size-lg: 20px;
  --size-xlg: 24px;
  --size-xxlg: 26px;

  //font family---------------------
  --fontFamily: "Inter", sans-serif;
}
